@import './base.css';

/* Reset margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set full height for html and body */
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif; /* or any font you prefer */
}

button, input, textarea, 
select, label{
  font-family: inherit;
}


/* Optional: smoother scrolling */
html {
  scroll-behavior: smooth;
}